.scanner-shell {

  position: relative;

  &>header,
  &>footer {
    position: sticky;
  }

  &>header {
    top: 0;
    padding: 10px;
    background: #333;

    select {
      width: 100%;
    }
  }

  &>footer {
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background: #4eafff;

    span {
      &:first-child {
        padding-right: 5px;
      }

      &:last-child {
        word-break: break-word;
      }
    }
  }

  zxing-scanner {
    max-width: 100%;
  }
}
