<div [hidden]="!hasCameras">

    <div *ngIf="availableDevices">
        <select (change)="onChange($event.target.value)">
            <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{ device.label }}</option>
        </select>
    </div>

    <ngx-zxing #scanner class="test-class" start="true" [device]="selectedDevice" (camerasFound)="displayCameras($event)" (scanSuccess)="handleQrCodeResult($event)"></ngx-zxing>

    <p>
        Result:
        <strong>{{ qrResultString }}</strong>
    </p>

</div>

<div [hidden]="hasCameras">

    <h1>Looks like your actual device does not has cameras, or I could no find'em. </h1>

</div>

<p>Angular version: {{ ngVersion }}</p>
